@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


/* @custom-variant dark(&:where(.dark, .dark *)); */

html {scroll-behavior: smooth;}
*{font-family: "Manrope", sans-serif; font-weight: 500;}

/* body {background: #fff;} */

/* @theme {--color-primary: #5044E5;} */